<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <% let prevValue = "" ;
  if (locals.genre) { prevValue = genre.name} %>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/nav.ejs') %>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <form action="" method="post">
            <div class="form-group">
              <label for="name">Genre:</label>
              <input type="text" id="name" class="form-control"
              placeholder="Fantasy, Poetry etc." name="name" value = <%- prevValue %> >
            </div>
            <button class="btn btn-primary" type="submit">Submit </button>
          </form>
          <% if (locals.errors) { %>
            <ul>
              <% errors.forEach(error => { %>
              <li><%- error.msg %></li>
              <% }) %>
            </ul>
            <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
